<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>test-main</display-name>
  
  
  
  
  
  
  
  
  <!-- url mapping -->
  <servlet>
  	<servlet-name>HomePageJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/homePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomePageJSP</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductInfoJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/productInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductInfoJSP</servlet-name>
  	<url-pattern>/product_info</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShoppingCartJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/shoppingCart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShoppingCartJSP</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EmptyCartJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/emptyCart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmptyCartJSP</servlet-name>
  	<url-pattern>/empty_cart</url-pattern>
  </servlet-mapping>
  
  <!-- 賣家管理頁面相關mapping -->
  <servlet>
  	<servlet-name>SellerLoginPageJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/sellerLoginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SellerLoginPageJSP</servlet-name>
  	<url-pattern>/sellerLoginPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SellerManageJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/sellerManage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SellerManageJSP</servlet-name>
  	<url-pattern>/seller</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductManageJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/productManage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductManageJSP</servlet-name>
  	<url-pattern>/seller/product_management</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductManage_ReadJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/productManageRead.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductManage_ReadJSP</servlet-name>
  	<url-pattern>/seller/read</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductManage_CreateJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/productManageCreate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductManage_CreateJSP</servlet-name>
  	<url-pattern>/seller/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductManage_UpdateJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/productManageUpdate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductManage_UpdateJSP</servlet-name>
  	<url-pattern>/seller/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SellerOrderManageJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/sellerOrderManage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SellerOrderManageJSP</servlet-name>
  	<url-pattern>/seller/orderPage</url-pattern>
  </servlet-mapping> 
  
  <!-- BUGS -->
  <!-- 
   -->
  
  
  
  <!-- test fileds -->
  <servlet>
  	<servlet-name>TestImgJSP</servlet-name>
  	<jsp-file>/WEB-INF/view/testImg.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestImgJSP</servlet-name>
  	<url-pattern>/testImg</url-pattern>
  </servlet-mapping>
  
  <!-- home page -->
  <welcome-file-list>
    <welcome-file>HomePageServlet</welcome-file>
  </welcome-file-list>
</web-app>